# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/
*.local

# Editor
.vscode/idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.*